/* Color Palette */
@charset "UTF-8";
:root {
    --dark-blue: #2C3E50;
    --orange: #E67E22;
    --orange-dark: #cf671a;
    --green: #27AE60;
    --red: #C0392B;
    --light-gray: #ECF0F1;
    --medium-gray: #BDC3C7;
    --white: #FFFFFF;
}

/* General Configurations */
body {
    background-color: var(--light-gray);
    margin: 0;
    font-family: Arial, sans-serif;
}

.btn-primary {
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-primary:hover {
    background-color: var(--orange-dark);
    border-color: var(--orange-dark);
}

.text-primary {
    color: var(--dark-blue) !important;
}

.alert-danger {
    color: var(--red);
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

footer {
    grid-area: footer;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 1rem;
    text-align: center;
}

/* Nav Menu */
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

/* Wrapper grid layout */
.wrapper {
    display: grid;
    grid-template-areas: 
        "sidebar nav-top"
        "sidebar main"
        "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

/* Sidebar styles */
#sidebar {
    grid-area: sidebar;
    width: 70px;
    min-width: 70px;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    transition: all .25s ease-in-out;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
    border-left: 3px solid transparent;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: var(--orange);
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: var(--white);
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: var(--white);
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

/* Media Query for larger screens */
@media (min-width: 2560px) {
    #sidebar {
        width: 100px;
    }

    #sidebar.expand {
        width: 400px;
    }

    .toggle-btn i {
        font-size: 2rem;
    }

    .sidebar-logo a {
        font-size: 1.5rem;
    }

    a.sidebar-link {
        padding: 1rem 2rem;
        font-size: 1.1rem;
    }

    .sidebar-link i {
        font-size: 1.3rem;
        margin-right: 1rem;
    }
}

/* Nav Top styles */
.nav-top {
    grid-area: nav-top;
    width: 100%;
    transition: margin-left .25s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--white);
    padding: 1rem;
}

.nav-top .perfil {
    display: flex;
    align-items: center;
}

.nav-top .perfil a {
    border-radius: 50%;
    border: 1px solid #ced4da;
}

.nav-top .perfil i {
    border: none;
}

#sidebar.expand ~ .nav-top {
    margin-left: 260px;
}

/* Content area */
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow-x: hidden;
}

.content {
    flex: 1;
    padding: 1rem;
}

@media screen and (min-width: 2560px) {
    .nav-top .perfil h4, .nav-top .perfil a {
        font-size: 2em;
    }

    .nav-top .perfil a {
        width: 60px;
        height: 60px;
    }
}

/* Estilos gerais do formulário */
h2 {
    color: var(--dark-blue);
    font-weight: bold;
}

.form-generic .form-label {
    color: var(--dark-blue);
    font-weight: bold !important;
}

.form-generic .form-control {
    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    background-color: var(--white);
}

.form-generic .form-control:focus {
    border-color: var(--orange);
    box-shadow: 0 0 0 0.2rem rgba(230, 126, 34, 0.25);
}

.form-generic .btn-primary {
    background-color: var(--orange);
    border-color: var(--orange);
}

.form-generic .btn-primary:hover {
    background-color: var(--orange-dark);
    border-color: var(--orange-dark);
}

/* Media Query para dispositivos maiores que 2560px */
@media (min-width: 2560px) {
    .form-generic .form-control {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .form-generic .form-label {
        font-size: 1.5rem;
    }

    .form-generic .btn-primary {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    #sidebar.expand {
        display: flex;
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 260px;
        min-width: 260px;
    }

    #sidebar.expand ~ .nav-top {
        margin-left: 0;
    }

    .nav-top {
        justify-content: space-between;
    }

    .toggle-btn {
        padding: 1rem;
    }
}
